<!DOCTYPE html>
<html>
<head>
	<title>Sentiment analysis</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/errorstyle.css') }}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body background="https://wallpapers.com/images/hd/3d-twitter-logo-dihhx0xg3sf7ah4r.jpg">
	<header class="title">
      <div class="title-text" >
        <h1 class="big-text" style="color: rgb(177, 12, 12);">Wrong Input. Try again!</h1>
      </div>
    </header>
    <h2>You can try one of the following.</h2>
    <ul>
        <li><h3>Enter a valid String.</h3></li>
        <li><h3>Enter the count.</h3></li>
    </ul>
    <a href="/">
    <button name="submit" type="submit" class="btn btn-danger">GO BACK</button>
    </a>
</body>
</html>